<!DOCTYPE html>
<html lang="de-DE">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../assets/css/uastyle.css" />
    <link rel="stylesheet" href="../assets/css/menu.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.0.min.js"
      integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4="
      crossorigin="anonymous"
    ></script>

    <!--[if lt IE 9]>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
        integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g="
        crossorigin="anonymous"
      ></script>
    <![endif]-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
  </head>

  <body>
    <script>
      (function ($) {
        // Begin jQuery
        $(function () {
          // DOM ready
          // If a link has a dropdown, add sub menu toggle.
          $("nav ul li a:not(:only-child)").click(function (e) {
            $(this).siblings(".nav-dropdown").toggle();
            // Close one dropdown when selecting another
            $(".nav-dropdown").not($(this).siblings()).hide();
            e.stopPropagation();
          });
          // Clicking away from dropdown will remove the dropdown class
          $("html").click(function () {
            $(".nav-dropdown").hide();
          });
          // Toggle open and close nav styles on click
          $("#nav-toggle").click(function () {
            $("nav ul").slideToggle();
          });
          // Hamburger to X toggle
          $("#nav-toggle").on("click", function () {
            this.classList.toggle("active");
          });
        }); // end DOM ready
      })(jQuery); // end jQuery
    </script>
    <div class="wrapper">
      <header>
        <div class="nav-container">
          <div class="brand">
            <a href="/"><img src="/assets/images/ua-logo.png" /></a>
          </div>
          <nav>
            <div class="nav-mobile">
              <a id="nav-toggle" href="#!"><span></span></a>
            </div>
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml
            }}
          </nav>
        </div>
      </header>
      <section>{{ content }}</section>
      <footer>
        <a href="/datenschutz">Datenschutz</a> |
        <small>&copy; {{ "now" | date: "%Y"}} UA</small> | <a href="/upptime">Upptime Monitor</a>
      </footer>
    </div>
  </body>
</html>
