<ul>
  {% assign meetings = site.data.meetings | sort: "day_of_week" %} {% for
  meeting in meetings %} {% assign day = meeting.items | sort: "time" %} {% for
  meet in day %}
  <li class="meetitem">
    <b>{{meet.name}}</b><br />
    {{meet.day_of_week}}: {{ meet.time }}<br />
    <i>{{ meet.location }}</i><br />
    {% if meet.text %} {{meet.text}}<br />
    {% endif %} {% if meet.chairvorlage %}
    <a href="files/{{ meet.chairvorlage }}">Chair-Vorlage</a><br />
    {% endif %}
  </li>
  {% endfor %} {% endfor %}
</ul>
