- name: Deploy
  uses: peaceiris/actions-gh-pages@v3
  with:
    publish_dir: _site
    publish_branch: gh-pages
    github_token: ${{ secrets.GITHUB_TOKEN }}    
    cname: anonyme-unterverdiener.de
